@model SEO.Web.Models.HomeViewModel

@{
    ViewBag.Title = "Articles";
}

<section id="content-container">
    <h1>Articles</h1>
    <ul>
        @foreach (var article in Model.Articles)
        {
            <li><a href="/articles/@article.FileNameEncoded">@article.Title</a></li>
        }
    </ul>
</section>